name: "release docker"

on:
  push:
    tags:
      - v*
    branches:
      - "*"

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      matrix:
        arch: [ "x86_64", "aarch64" ]

    env:
      SEMVER: 27.5.1

    steps:
      - name: Check out
        uses: actions/checkout@v5

      - name: Download Docker
        run: |
          rm -rf ./docker || echo
          curl -fSL -o docker.tgz https://download.docker.com/linux/static/stable/${{ matrix.arch }}/docker-${{ env.SEMVER }}.tgz && \
          tar zxvf docker.tgz

      - name: Download Plugin
        run: |
          rm -rf ./docker-* && \
          curl -fSL -o ./docker-compose https://github.com/docker/compose/releases/download/v2.33.0/docker-compose-linux-${{ matrix.arch }}

      - name: Create rpm Package
        id: rpm-package
        run: |
          docker run --rm -v $PWD:/tmp -e SEMVER=${{env.SEMVER}} -e GOARCH=${{matrix.arch}} -w /tmp goreleaser/nfpm package \
              --config /tmp/nfpm.yaml --target /tmp --packager rpm

      - name: Create deb Package
        id: deb-package
        run: |
          GOARCH=""
          case "${{ matrix.arch }}" in
            aarch64)
            GOARCH="arm64"
            ;;
            *)
            GOARCH="amd64"
            ;;
          esac
          docker run --rm -v $PWD:/tmp -e SEMVER=${{env.SEMVER}} -e GOARCH=${GOARCH} -w /tmp goreleaser/nfpm package \
              --config /tmp/nfpm.yaml --target /tmp --packager deb

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ startsWith(github.ref, 'refs/tags/') && github.ref_name || 'nightly' }}
          make_latest: ${{ startsWith(github.ref, 'refs/tags/') }}
          prerelease: ${{ !startsWith(github.ref, 'refs/tags/') }}
          generate_release_notes: false
          append_body: true
          files: |
            *.rpm
            *.deb
